<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project-alpha</title>
    </head>
    <body>
        <header>
            <a href="{% url 'create_project' %}">Create a project</a>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if projects_list %}
                    <table>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                            {% for project in projects_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>